@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
body {
 font-family:'Kaushan Script',
 cursive
}

header {
 position:absolute;
 top:3%;
 left:25%;
 width:90%;
 color:#fff
}

.default {
 background:#112d514d;
 z-index:99;
 display:flex;
 justify-content:space-evenly;
 transition:.5s ease;
 width:100%;
 height:auto;
 padding-top:20px;
 position:absolute;
 top:10%
}
.scrolled {
 background:#000;
 position:fixed;
 top:0
}
nav a {
 color:#fff
}

nav .nav-links {
 display:block;
 width:50%
}
.nav-links .links {
 display:flex;
 justify-content:space-evenly
}
.links .drop {
 margin-top:-7px
}
.nav-links li a {
 font-size:18px;
 padding-left:5px;
 font-weight:400;
 text-transform:uppercase
}

footer {
    background-color:black; 
    color: #fff;
}
.top-footer h2 {
 color:#ed4f4f
}
.top-footer p {
 color:#fff
}
.info {

    flex-wrap: nowrap;
    align-content: space-between;
}
.info p {
 width:60%;
 margin-top: 38px;
}
footer .bottom-top {
 margin-top:70px
}
footer .contact {
 margin-left:-156px
}
footer .useful-links .main-text ul {
 position:absolute;
 top:100px
}
footer .contact .main-text ul {
 position:absolute;
 top:100px
}
footer .copy-right {
 text-align:center;
 margin:0 auto;
 margin-top:100px;
 color:#fff
}
.copy-right a {
 color:#fff
}
a {
 text-decoration:none;
 text-transform:capitalize;
 color:#000
}
a:hover {
 text-decoration:none;
 color:#ed4f4f
}
ul {
 padding:0;
 margin:0;
 list-style:none
}
.Scroll-up {
 font-size:30px;
 color:#f8f8f8;
 background-color:#ed4f4f;
 width:40px;
 height:40px;
 text-align:center;
 border-radius:5px;
 position:fixed;
 right:20px;
 bottom:20px;
 z-index:9999;
 cursor:pointer;
 display:none
}
.loading-page {
 background-color:#f8f8f8;
 color:#fff;
 position:fixed;
 left:0;
 top:0;
 width:100%;
 height:100%;
 z-index:99999
}
.sk-cube-grid {
 width:100px;
 height:100px;
 margin: 0 auto;
 margin-top: 20%;
}
.sk-cube-grid .sk-cube {
 width:33%;
 height:33%;
 background-color:#ed4f4f;
 float:left;
 -webkit-animation:sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
 animation:sk-cubeGridScaleDelay 1.3s infinite ease-in-out
}
.sk-cube-grid .sk-cube1 {
 -webkit-animation-delay:.2s;
 animation-delay:.2s
}
.sk-cube-grid .sk-cube2 {
 -webkit-animation-delay:.3s;
 animation-delay:.3s
}
.sk-cube-grid .sk-cube3 {
 -webkit-animation-delay:.4s;
 animation-delay:.4s
}
.sk-cube-grid .sk-cube4 {
 -webkit-animation-delay:.1s;
 animation-delay:.1s
}
.sk-cube-grid .sk-cube5 {
 -webkit-animation-delay:.2s;
 animation-delay:.2s
}
.sk-cube-grid .sk-cube6 {
 -webkit-animation-delay:.3s;
 animation-delay:.3s
}
.sk-cube-grid .sk-cube7 {
 -webkit-animation-delay:0s;
 animation-delay:0s
}
.sk-cube-grid .sk-cube8 {
 -webkit-animation-delay:.1s;
 animation-delay:.1s
}
.sk-cube-grid .sk-cube9 {
 -webkit-animation-delay:.2s;
 animation-delay:.2s
}
@-webkit-keyframes sk-cubeGridScaleDelay {
 0%,
 100%,
 70% {
  -webkit-transform:scale3D(1,1,1);
  transform:scale3D(1,1,1)
 }
 35% {
  -webkit-transform:scale3D(0,0,1);
  transform:scale3D(0,0,1)
 }
}
@keyframes sk-cubeGridScaleDelay {
 0%,
 100%,
 70% {
  -webkit-transform:scale3D(1,1,1);
  transform:scale3D(1,1,1)
 }
 35% {
  -webkit-transform:scale3D(0,0,1);
  transform:scale3D(0,0,1)
 }
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .hvr-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  
.img-team:hover img {
    animation-name: example;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    
}
@keyframes example {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
}
